
/*
Outliner: Simple Library for Modern Browsers
Release: Version 0.10 on 2013-11-29
License: The MIT license
Source: https://github.com/zohooo/inliner
*/

.btn {
  color: #333;
  background: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  margin: 0;
  height: 2em;
}

.btn:hover {
  background: #eee;
}

.btn-primary {
  color: white;
  background: #3B5F9B;
  border: 1px solid #9EB0CD;
}

.btn-primary:hover {
  background: #3069B6;
}

.dropdown-toggle {
  position: relative;
  display: inline-block;
}

.dropdown-toggle > .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  display: none;
  padding: 0px;
  margin: 0px;
  border: 1px solid gray;
  border-radius: 4px;
  background: white;
}

.dropdown-toggle:hover > .dropdown-menu {
  display: inline-block;
}

.dropdown-menu li {
  list-style-type: none;
  padding: 0 .5em;
  margin: 0;
  line-height: 2;
  color: black;
}

.dropdown-menu li:hover {
  color: white;
  background: #3069B6;
}

@font-face {
  font-family: 'outliner';
  src: url('outliner.eot');
  src: url('outliner.eot?#iefix') format('embedded-opentype'),
       url('outliner.woff') format('woff'),
       url('outliner.ttf') format('truetype'),
       url('outliner.svg#outliner') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'outliner';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
}

.icon-close:before {
  content: "\e000";
}

.icon-square:before {
  content: "\e001";
}

.icon-circle:before {
  content: "\e002";
}

.icon-half:before {
  content: "\e003";
}

.icon-quad:before {
  content: "\e004";
}

.icon-new:before {
  content: "\e010";
}

.icon-disk:before {
  content: "\e011";
}

.icon-disk-open:before {
  content: "\e012";
}

.icon-disk-save:before {
  content: "\e013";
}

.icon-cloud:before {
  content: "\e014";
}

.icon-cloud-open:before {
  content: "\e015";
}

.icon-cloud-save:before {
  content: "\e016";
}

.icon-up:before {
  content: "\e020";
}

.icon-down:before {
  content: "\e021";
}

.icon-share:before {
  content: "\e030";
}

.icon-present:before {
  content: "\e031";
}

.icon-option:before {
  content: "\e032";
}

.icon-help:before {
  content: "\e033";
}
